<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.assessmen.mapper.pra.read.PatientAssessmentReadMapper">
    <!-- 根据ID查询一条记录中的 所有评估结果 -->
    <resultMap id="PatientAssessmentResultMap" type="com.prostate.assessmen.entity.PatientAssessment">
        <id column="ppncsId" jdbcType="VARCHAR" property="id"/>
        <result column="nihCpsiScore" jdbcType="VARCHAR" property="nihCpsiScore"/>
        <result column="ipssScore" jdbcType="VARCHAR" property="ipssScore"/>
        <result column="pssScaleScore" jdbcType="VARCHAR" property="scaleScore"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="patientNihNpsiScore" javaType="com.prostate.assessmen.entity.PatientNihCpsiScore">
            <id column="ppncsId" jdbcType="VARCHAR" property="id"/>
            <result column="ppncsInflammationScore" jdbcType="VARCHAR" property="inflammationScore"/>
            <result column="ppncsSymptomScore" jdbcType="VARCHAR" property="symptomScore"/>
            <result column="ppncsLifeScore" jdbcType="VARCHAR" property="lifeScore"/>
            <result column="ppncsAnswer" jdbcType="VARCHAR" property="answer"/>
        </association>
        <association property="patientIpssScore" javaType="com.prostate.assessmen.entity.PatientIpssScore">
            <id column="ppisId" jdbcType="VARCHAR" property="id"/>
            <result column="ppisSymptomScore" jdbcType="VARCHAR" property="symptomScore"/>
            <result column="ppisLifeScore" jdbcType="VARCHAR" property="lifeScore"/>
            <result column="ppisAnswer" jdbcType="VARCHAR" property="answer"/>
        </association>
        <association property="patientScaleScore" javaType="com.prostate.assessmen.entity.PatientScaleScore">
            <id column="pssId" jdbcType="VARCHAR" property="id"/>
            <result column="pssInflammationScore" jdbcType="VARCHAR" property="inflammationScore"/>
            <result column="pssSymptomScore" jdbcType="VARCHAR" property="symptomScore"/>
            <result column="pssLifeScore" jdbcType="VARCHAR" property="lifeScore"/>
            <result column="pssOptionScore" jdbcType="VARCHAR" property="optionScore"/>
        </association>
    </resultMap>
    <sql id="PatientAssessment_Column_List">
        ppncs.id ppncsId,
        ppncs.inflammation_score ppncsInflammationScore,
        ppncs.symptom_score ppncsSymptomScore,
        ppncs.life_score ppncsLifeScore,
        ppncs.nih_cpsi_score nihCpsiScore,
        ppncs.answer ppncsAnswer,
        ppncs.create_time createTime,

        ppis.id ppisId,
        ppis.symptom_score ppisSymptomScore,
        ppis.life_score ppisLifeScore,
        ppis.ipss_score ipssScore,
        ppis.answer ppisAnswer,

        pss.id pssId,
        pss.inflammation_score pssInflammationScore,
        pss.symptom_score pssSymptomScore,
        pss.life_score pssLifeScore,
        pss.scale_score pssScaleScore,
        pss.option_score pssOptionScore

    </sql>
    <sql id="PatientAssessment_Left_Join">
        LEFT JOIN pra_patient_ipss_score ppis ON ppis.id = ppncs.id
        LEFT JOIN pra_scale_score pss ON pss.id = ppncs.id
    </sql>
    <select id="selectById" parameterType="com.prostate.assessmen.entity.PatientAssessment" resultMap="PatientAssessmentResultMap">
        select
        <include refid="PatientAssessment_Column_List"/>
        from pra_patient_nih_cpsi_score ppncs
        <include refid="PatientAssessment_Left_Join"/>
        where ppncs.id = #{id,jdbcType=VARCHAR}
    </select>


    <!--根据患者查询 所有评估结果列表-->
    <resultMap id="PatientAssessmentListResultMap" type="com.prostate.assessmen.entity.PatientAssessment">
        <id column="ppncsId" jdbcType="VARCHAR" property="id"/>
        <result column="nihCpsiScore" jdbcType="VARCHAR" property="totalScore"/>
        <result column="ppisCaution" jdbcType="VARCHAR" property="caution"/>
        <result column="ppncsScoreType" jdbcType="VARCHAR" property="scoreType"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="NihCpsiList_Column_List">
        ppncs.id ppncsId, ppncs.nih_cpsi_score nihCpsiScore,ppncs.create_time createTime,ppncs.caution ppisCaution,ppncs.score_type ppncsScoreType
    </sql>
    <sql id="IpssList_Column_List">
        ppis.id ppisId,ppis.ipss_score ipssScore,ppis.create_time createTime,ppis.caution ppisCaution,ppis.score_type ppisScoreType
    </sql>
    <sql id="NihCpsiList_Left_Join">
        LEFT JOIN pra_scale_score pss ON pss.id = ppncs.id
    </sql>
    <sql id="IpssList_Left_Join">
        LEFT JOIN pra_scale_score pss ON pss.id = ppis.id
    </sql>
    <select id="selectByPatientId" parameterType="com.prostate.assessmen.entity.PatientAssessment" resultMap="PatientAssessmentListResultMap">
        SELECT
        <include refid="NihCpsiList_Column_List"/>
        FROM pra_patient_nih_cpsi_score ppncs
        <where>
            ppncs.patient_id = #{id,jdbcType=VARCHAR}
        </where>
        <!--<include refid="NihCpsiList_Left_Join"/>-->
        UNION

        SELECT
        <include refid="IpssList_Column_List"/>
        FROM pra_patient_ipss_score ppis
        <!--<include refid="IpssList_Left_Join"/>-->
        <where>
            ppis.patient_id = #{id,jdbcType=VARCHAR}
        </where>
        ORDER BY createTime DESC
    </select>

    <select id="selectLastByPatientId" parameterType="com.prostate.assessmen.entity.PatientAssessment" resultMap="PatientAssessmentListResultMap">
        SELECT
        <include refid="NihCpsiList_Column_List"/>
        FROM pra_patient_nih_cpsi_score ppncs
        <where>
            ppncs.patient_id = #{id,jdbcType=VARCHAR}
        </where>
        <!--<include refid="NihCpsiList_Left_Join"/>-->
        UNION

        SELECT
        <include refid="IpssList_Column_List"/>
        FROM pra_patient_ipss_score ppis
        <!--<include refid="IpssList_Left_Join"/>-->
        <where>
            ppis.patient_id = #{id,jdbcType=VARCHAR}
        </where>
        ORDER BY createTime DESC
        limit 1
    </select>

</mapper>