<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.assessmen.mapper.PatientAssessmentMapper">
    <resultMap id="PatientAssessmentResultMap" type="com.prostate.assessmen.entity.PatientAssessment">
        <id column="ppncsId" jdbcType="VARCHAR" property="id"/>
        <result column="ipssScore" jdbcType="VARCHAR" property="ipssScore"/>
        <result column="nihNpsiScore" jdbcType="VARCHAR" property="nihNpsiScore"/>
        <association property="patientNihNpsiScore" javaType="com.prostate.assessmen.entity.PatientNihNpsiScore">
            <id column="ppncsId" jdbcType="VARCHAR" property="id"/>
            <result column="ppncsInflammationScore" jdbcType="VARCHAR" property="inflammationScore"/>
            <result column="ppncsSymptomScore" jdbcType="VARCHAR" property="symptomScore"/>
            <result column="ppncsLifeScore" jdbcType="VARCHAR" property="lifeScore"/>
            <result column="ppncsAnswer" jdbcType="VARCHAR" property="answer"/>
        </association>
        <association property="patientIpssScore" javaType="com.prostate.assessmen.entity.PatientIpssScore">
            <id column="ppisId" jdbcType="VARCHAR" property="id"/>
            <result column="ppisSymptomScore" jdbcType="VARCHAR" property="symptomScore"/>
            <result column="ppisLifeScore" jdbcType="VARCHAR" property="lifeScore"/>
            <result column="ppisAnswer" jdbcType="VARCHAR" property="answer"/>
        </association>
    </resultMap>
    <sql id="PatientAssessment_Column_List">
        SUM(ppncs.inflammation_score+ ppncs.symptom_score+ ppncs.life_score) AS nihNpsiScore,
        SUM(ppis.symptom_score+ppis.life_score) AS ipssScore,
        ppncs.id ppncsId, ppncs.inflammation_score ppncsInflammationScore, ppncs.symptom_score ppncsSymptomScore,
        ppncs.life_score ppncsLifeScore, ppncs.answer ppncsAnswer,
        ppis.id ppisId, ppis.symptom_score ppisSymptomScore, ppis.life_score ppisLifeScore, ppis.answer ppisAnswer
    </sql>
    <sql id="PatientAssessment_Left_Join">
        LEFT JOIN pra_patient_ipss_score ppis ON ppis.id = ppncs.id
    </sql>
    <select id="selectById" parameterType="com.prostate.assessmen.entity.PatientAssessment" resultMap="PatientAssessmentResultMap">
        select
        <include refid="PatientAssessment_Column_List"/>
        from pra_patient_nih_cpsi_score ppncs
        <include refid="PatientAssessment_Left_Join"/>
        where ppncs.id = #{id,jdbcType=VARCHAR}
    </select>



    <resultMap id="PatientAssessmentListResultMap" type="com.prostate.assessmen.entity.PatientAssessment">
        <id column="ppncsId" jdbcType="VARCHAR" property="id"/>
        <result column="ipssScore" jdbcType="VARCHAR" property="ipssScore"/>
        <result column="nihNpsiScore" jdbcType="VARCHAR" property="nihNpsiScore"/>
    </resultMap>
    <sql id="PatientAssessmentList_Column_List">
        SUM(ppncs.inflammation_score+ ppncs.symptom_score+ ppncs.life_score) AS nihNpsiScore,
        SUM(ppis.symptom_score+ppis.life_score) AS ipssScore,
        ppncs.id ppncsId,
        ppis.id ppisId
    </sql>
    <sql id="PatientAssessmentList_Left_Join">
        LEFT JOIN pra_patient_ipss_score ppis ON ppis.id = ppncs.id
    </sql>
    <select id="selectByPatientId" parameterType="com.prostate.assessmen.entity.PatientAssessment" resultMap="PatientAssessmentListResultMap">
        select
        <include refid="PatientAssessmentList_Column_List"/>
        from pra_patient_nih_cpsi_score ppncs
        <include refid="PatientAssessmentList_Left_Join"/>
        where ppncs.patient_id = #{id,jdbcType=VARCHAR}
        AND ppis.patient_id = #{id,jdbcType=VARCHAR}
    </select>


</mapper>