<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.assessmen.mapper.ProstaticMedicalExaminationMapper">
  <resultMap id="BaseResultMap" type="com.prostate.assessmen.entity.ProstaticMedicalExamination">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="blood_routine_answer" jdbcType="VARCHAR" property="bloodRoutineAnswer" />
    <result column="digital_rectal_answer" jdbcType="VARCHAR" property="digitalRectalAnswer" />
    <result column="expressed_prostatic_secretion_answer" jdbcType="VARCHAR" property="expressedProstaticSecretionAnswer" />
    <result column="specific_antigen_answer" jdbcType="VARCHAR" property="specificAntigenAnswer" />
    <result column="ultrasonography_b_answer" jdbcType="VARCHAR" property="ultrasonographyBAnswer" />
    <result column="urine_flow_rate_answer" jdbcType="VARCHAR" property="urineFlowRateAnswer" />
    <result column="urine_routine_answer" jdbcType="VARCHAR" property="urineRoutineAnswer" />
    <result column="medical_examination_remark" jdbcType="VARCHAR" property="medicalExaminationRemark" />
    <result column="blood_routine_remark" jdbcType="VARCHAR" property="bloodRoutineRemark" />
    <result column="digital_rectal_remark" jdbcType="VARCHAR" property="digitalRectalRemark" />
    <result column="expressed_prostatic_secretion_remark" jdbcType="VARCHAR" property="expressedProstaticSecretionRemark" />
    <result column="specific_antigen_remark" jdbcType="VARCHAR" property="specificAntigenRemark" />
    <result column="ultrasonography_b_remark" jdbcType="VARCHAR" property="ultrasonographyBRemark" />
    <result column="urine_flow_rate_remark" jdbcType="VARCHAR" property="urineFlowRateRemark" />
    <result column="urine_routine_remark" jdbcType="VARCHAR" property="urineRoutineRemark" />
    <result column="create_doctor" jdbcType="VARCHAR" property="createDoctor" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_doctor" jdbcType="VARCHAR" property="updateDoctor" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_doctor" jdbcType="VARCHAR" property="deleteDoctor" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_id, blood_routine_answer, digital_rectal_answer, expressed_prostatic_secretion_answer, 
    specific_antigen_answer, ultrasonography_b_answer, urine_flow_rate_answer, urine_routine_answer, 
    medical_examination_remark, blood_routine_remark, digital_rectal_remark, expressed_prostatic_secretion_remark, 
    specific_antigen_remark, ultrasonography_b_remark, urine_flow_rate_remark, urine_routine_remark, 
    create_doctor, create_time, update_doctor, update_time, delete_doctor, delete_time, 
    del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pra_prostatic_medical_examination
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pra_prostatic_medical_examination
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.prostate.assessmen.entity.ProstaticMedicalExamination">
    insert into pra_prostatic_medical_examination (id, patient_id, blood_routine_answer, 
      digital_rectal_answer, expressed_prostatic_secretion_answer, 
      specific_antigen_answer, ultrasonography_b_answer, 
      urine_flow_rate_answer, urine_routine_answer, 
      medical_examination_remark, blood_routine_remark, 
      digital_rectal_remark, expressed_prostatic_secretion_remark, 
      specific_antigen_remark, ultrasonography_b_remark, 
      urine_flow_rate_remark, urine_routine_remark, 
      create_doctor, create_time, update_doctor, 
      update_time, delete_doctor, delete_time, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, #{bloodRoutineAnswer,jdbcType=VARCHAR}, 
      #{digitalRectalAnswer,jdbcType=VARCHAR}, #{expressedProstaticSecretionAnswer,jdbcType=VARCHAR}, 
      #{specificAntigenAnswer,jdbcType=VARCHAR}, #{ultrasonographyBAnswer,jdbcType=VARCHAR}, 
      #{urineFlowRateAnswer,jdbcType=VARCHAR}, #{urineRoutineAnswer,jdbcType=VARCHAR}, 
      #{medicalExaminationRemark,jdbcType=VARCHAR}, #{bloodRoutineRemark,jdbcType=VARCHAR}, 
      #{digitalRectalRemark,jdbcType=VARCHAR}, #{expressedProstaticSecretionRemark,jdbcType=VARCHAR}, 
      #{specificAntigenRemark,jdbcType=VARCHAR}, #{ultrasonographyBRemark,jdbcType=VARCHAR}, 
      #{urineFlowRateRemark,jdbcType=VARCHAR}, #{urineRoutineRemark,jdbcType=VARCHAR}, 
      #{createDoctor,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateDoctor,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteDoctor,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.prostate.assessmen.entity.ProstaticMedicalExamination">
    <selectKey keyProperty="id" resultType="java.lang.String"
               order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into pra_prostatic_medical_examination
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="bloodRoutineAnswer != null">
        blood_routine_answer,
      </if>
      <if test="digitalRectalAnswer != null">
        digital_rectal_answer,
      </if>
      <if test="expressedProstaticSecretionAnswer != null">
        expressed_prostatic_secretion_answer,
      </if>
      <if test="specificAntigenAnswer != null">
        specific_antigen_answer,
      </if>
      <if test="ultrasonographyBAnswer != null">
        ultrasonography_b_answer,
      </if>
      <if test="urineFlowRateAnswer != null">
        urine_flow_rate_answer,
      </if>
      <if test="urineRoutineAnswer != null">
        urine_routine_answer,
      </if>
      <if test="medicalExaminationRemark != null">
        medical_examination_remark,
      </if>
      <if test="bloodRoutineRemark != null">
        blood_routine_remark,
      </if>
      <if test="digitalRectalRemark != null">
        digital_rectal_remark,
      </if>
      <if test="expressedProstaticSecretionRemark != null">
        expressed_prostatic_secretion_remark,
      </if>
      <if test="specificAntigenRemark != null">
        specific_antigen_remark,
      </if>
      <if test="ultrasonographyBRemark != null">
        ultrasonography_b_remark,
      </if>
      <if test="urineFlowRateRemark != null">
        urine_flow_rate_remark,
      </if>
      <if test="urineRoutineRemark != null">
        urine_routine_remark,
      </if>
      <if test="createDoctor != null">
        create_doctor,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateDoctor != null">
        update_doctor,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteDoctor != null">
        delete_doctor,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="bloodRoutineAnswer != null">
        #{bloodRoutineAnswer,jdbcType=VARCHAR},
      </if>
      <if test="digitalRectalAnswer != null">
        #{digitalRectalAnswer,jdbcType=VARCHAR},
      </if>
      <if test="expressedProstaticSecretionAnswer != null">
        #{expressedProstaticSecretionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="specificAntigenAnswer != null">
        #{specificAntigenAnswer,jdbcType=VARCHAR},
      </if>
      <if test="ultrasonographyBAnswer != null">
        #{ultrasonographyBAnswer,jdbcType=VARCHAR},
      </if>
      <if test="urineFlowRateAnswer != null">
        #{urineFlowRateAnswer,jdbcType=VARCHAR},
      </if>
      <if test="urineRoutineAnswer != null">
        #{urineRoutineAnswer,jdbcType=VARCHAR},
      </if>
      <if test="medicalExaminationRemark != null">
        #{medicalExaminationRemark,jdbcType=VARCHAR},
      </if>
      <if test="bloodRoutineRemark != null">
        #{bloodRoutineRemark,jdbcType=VARCHAR},
      </if>
      <if test="digitalRectalRemark != null">
        #{digitalRectalRemark,jdbcType=VARCHAR},
      </if>
      <if test="expressedProstaticSecretionRemark != null">
        #{expressedProstaticSecretionRemark,jdbcType=VARCHAR},
      </if>
      <if test="specificAntigenRemark != null">
        #{specificAntigenRemark,jdbcType=VARCHAR},
      </if>
      <if test="ultrasonographyBRemark != null">
        #{ultrasonographyBRemark,jdbcType=VARCHAR},
      </if>
      <if test="urineFlowRateRemark != null">
        #{urineFlowRateRemark,jdbcType=VARCHAR},
      </if>
      <if test="urineRoutineRemark != null">
        #{urineRoutineRemark,jdbcType=VARCHAR},
      </if>
      <if test="createDoctor != null">
        #{createDoctor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDoctor != null">
        #{updateDoctor,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDoctor != null">
        #{deleteDoctor,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prostate.assessmen.entity.ProstaticMedicalExamination">
    update pra_prostatic_medical_examination
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="bloodRoutineAnswer != null">
        blood_routine_answer = #{bloodRoutineAnswer,jdbcType=VARCHAR},
      </if>
      <if test="digitalRectalAnswer != null">
        digital_rectal_answer = #{digitalRectalAnswer,jdbcType=VARCHAR},
      </if>
      <if test="expressedProstaticSecretionAnswer != null">
        expressed_prostatic_secretion_answer = #{expressedProstaticSecretionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="specificAntigenAnswer != null">
        specific_antigen_answer = #{specificAntigenAnswer,jdbcType=VARCHAR},
      </if>
      <if test="ultrasonographyBAnswer != null">
        ultrasonography_b_answer = #{ultrasonographyBAnswer,jdbcType=VARCHAR},
      </if>
      <if test="urineFlowRateAnswer != null">
        urine_flow_rate_answer = #{urineFlowRateAnswer,jdbcType=VARCHAR},
      </if>
      <if test="urineRoutineAnswer != null">
        urine_routine_answer = #{urineRoutineAnswer,jdbcType=VARCHAR},
      </if>
      <if test="medicalExaminationRemark != null">
        medical_examination_remark = #{medicalExaminationRemark,jdbcType=VARCHAR},
      </if>
      <if test="bloodRoutineRemark != null">
        blood_routine_remark = #{bloodRoutineRemark,jdbcType=VARCHAR},
      </if>
      <if test="digitalRectalRemark != null">
        digital_rectal_remark = #{digitalRectalRemark,jdbcType=VARCHAR},
      </if>
      <if test="expressedProstaticSecretionRemark != null">
        expressed_prostatic_secretion_remark = #{expressedProstaticSecretionRemark,jdbcType=VARCHAR},
      </if>
      <if test="specificAntigenRemark != null">
        specific_antigen_remark = #{specificAntigenRemark,jdbcType=VARCHAR},
      </if>
      <if test="ultrasonographyBRemark != null">
        ultrasonography_b_remark = #{ultrasonographyBRemark,jdbcType=VARCHAR},
      </if>
      <if test="urineFlowRateRemark != null">
        urine_flow_rate_remark = #{urineFlowRateRemark,jdbcType=VARCHAR},
      </if>
      <if test="urineRoutineRemark != null">
        urine_routine_remark = #{urineRoutineRemark,jdbcType=VARCHAR},
      </if>
      <if test="createDoctor != null">
        create_doctor = #{createDoctor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDoctor != null">
        update_doctor = #{updateDoctor,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDoctor != null">
        delete_doctor = #{deleteDoctor,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prostate.assessmen.entity.ProstaticMedicalExamination">
    update pra_prostatic_medical_examination
    set patient_id = #{patientId,jdbcType=VARCHAR},
      blood_routine_answer = #{bloodRoutineAnswer,jdbcType=VARCHAR},
      digital_rectal_answer = #{digitalRectalAnswer,jdbcType=VARCHAR},
      expressed_prostatic_secretion_answer = #{expressedProstaticSecretionAnswer,jdbcType=VARCHAR},
      specific_antigen_answer = #{specificAntigenAnswer,jdbcType=VARCHAR},
      ultrasonography_b_answer = #{ultrasonographyBAnswer,jdbcType=VARCHAR},
      urine_flow_rate_answer = #{urineFlowRateAnswer,jdbcType=VARCHAR},
      urine_routine_answer = #{urineRoutineAnswer,jdbcType=VARCHAR},
      medical_examination_remark = #{medicalExaminationRemark,jdbcType=VARCHAR},
      blood_routine_remark = #{bloodRoutineRemark,jdbcType=VARCHAR},
      digital_rectal_remark = #{digitalRectalRemark,jdbcType=VARCHAR},
      expressed_prostatic_secretion_remark = #{expressedProstaticSecretionRemark,jdbcType=VARCHAR},
      specific_antigen_remark = #{specificAntigenRemark,jdbcType=VARCHAR},
      ultrasonography_b_remark = #{ultrasonographyBRemark,jdbcType=VARCHAR},
      urine_flow_rate_remark = #{urineFlowRateRemark,jdbcType=VARCHAR},
      urine_routine_remark = #{urineRoutineRemark,jdbcType=VARCHAR},
      create_doctor = #{createDoctor,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_doctor = #{updateDoctor,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_doctor = #{deleteDoctor,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>