<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.assessmen.mapper.pra.write.ProstaticMedicalExaminationWriteMapper">
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from pra_prostatic_medical_examination
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.prostate.assessmen.entity.ProstaticMedicalExamination">
        <selectKey keyProperty="id" resultType="java.lang.String"
                   order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into pra_prostatic_medical_examination
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="patientId != null">
                patient_id,
            </if>
            <if test="bloodRoutineAnswer != null">
                blood_routine_answer,
            </if>
            <if test="digitalRectalAnswer != null">
                digital_rectal_answer,
            </if>
            <if test="expressedProstaticSecretionAnswer != null">
                expressed_prostatic_secretion_answer,
            </if>
            <if test="specificAntigenAnswer != null">
                specific_antigen_answer,
            </if>
            <if test="ultrasonographyBAnswer != null">
                ultrasonography_b_answer,
            </if>
            <if test="urineFlowRateAnswer != null">
                urine_flow_rate_answer,
            </if>
            <if test="urineRoutineAnswer != null">
                urine_routine_answer,
            </if>
            <if test="medicalExaminationRemark != null">
                medical_examination_remark,
            </if>
            <if test="bloodRoutineRemark != null">
                blood_routine_remark,
            </if>
            <if test="digitalRectalRemark != null">
                digital_rectal_remark,
            </if>
            <if test="expressedProstaticSecretionRemark != null">
                expressed_prostatic_secretion_remark,
            </if>
            <if test="specificAntigenRemark != null">
                specific_antigen_remark,
            </if>
            <if test="ultrasonographyBRemark != null">
                ultrasonography_b_remark,
            </if>
            <if test="urineFlowRateRemark != null">
                urine_flow_rate_remark,
            </if>
            <if test="urineRoutineRemark != null">
                urine_routine_remark,
            </if>
            <if test="createDoctor != null">
                create_doctor,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateDoctor != null">
                update_doctor,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteDoctor != null">
                delete_doctor,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="urineRoutineInspectTime != null">
                urine_routine_inspect_time,
            </if>
            <if test="urineFlowRateInspectTime != null">
                urine_flow_rate_inspect_time,
            </if>
            <if test="ultrasonographyBInspectTime != null">
                ultrasonography_b_inspect_time,
            </if>
            <if test="digitalRectalInspectTime != null">
                digital_rectal_inspect_time,
            </if>
            <if test="expressedProstaticSecretionInspectTime != null">
                expressed_prostatic_secretion_inspect_time,
            </if>
            <if test="specificAntigenInspectTime != null">
                specific_antigen_inspect_time,
            </if>
            <if test="bloodRoutineInspectTime != null">
                blood_routine_inspect_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="bloodRoutineAnswer != null">
                #{bloodRoutineAnswer,jdbcType=VARCHAR},
            </if>
            <if test="digitalRectalAnswer != null">
                #{digitalRectalAnswer,jdbcType=VARCHAR},
            </if>
            <if test="expressedProstaticSecretionAnswer != null">
                #{expressedProstaticSecretionAnswer,jdbcType=VARCHAR},
            </if>
            <if test="specificAntigenAnswer != null">
                #{specificAntigenAnswer,jdbcType=VARCHAR},
            </if>
            <if test="ultrasonographyBAnswer != null">
                #{ultrasonographyBAnswer,jdbcType=VARCHAR},
            </if>
            <if test="urineFlowRateAnswer != null">
                #{urineFlowRateAnswer,jdbcType=VARCHAR},
            </if>
            <if test="urineRoutineAnswer != null">
                #{urineRoutineAnswer,jdbcType=VARCHAR},
            </if>
            <if test="medicalExaminationRemark != null">
                #{medicalExaminationRemark,jdbcType=VARCHAR},
            </if>
            <if test="bloodRoutineRemark != null">
                #{bloodRoutineRemark,jdbcType=VARCHAR},
            </if>
            <if test="digitalRectalRemark != null">
                #{digitalRectalRemark,jdbcType=VARCHAR},
            </if>
            <if test="expressedProstaticSecretionRemark != null">
                #{expressedProstaticSecretionRemark,jdbcType=VARCHAR},
            </if>
            <if test="specificAntigenRemark != null">
                #{specificAntigenRemark,jdbcType=VARCHAR},
            </if>
            <if test="ultrasonographyBRemark != null">
                #{ultrasonographyBRemark,jdbcType=VARCHAR},
            </if>
            <if test="urineFlowRateRemark != null">
                #{urineFlowRateRemark,jdbcType=VARCHAR},
            </if>
            <if test="urineRoutineRemark != null">
                #{urineRoutineRemark,jdbcType=VARCHAR},
            </if>
            <if test="createDoctor != null">
                #{createDoctor,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDoctor != null">
                #{updateDoctor,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteDoctor != null">
                #{deleteDoctor,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="urineRoutineInspectTime != null">
                #{urineRoutineInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="urineFlowRateInspectTime != null">
                #{urineFlowRateInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ultrasonographyBInspectTime != null">
                #{ultrasonographyBInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="digitalRectalInspectTime != null">
                #{digitalRectalInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expressedProstaticSecretionInspectTime != null">
                #{expressedProstaticSecretionInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="specificAntigenInspectTime != null">
                #{specificAntigenInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bloodRoutineInspectTime != null">
                #{bloodRoutineInspectTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="com.prostate.assessmen.entity.ProstaticMedicalExamination">
        update pra_prostatic_medical_examination
        <set>
            <if test="patientId != null">
                patient_id = #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="bloodRoutineAnswer != null">
                blood_routine_answer = #{bloodRoutineAnswer,jdbcType=VARCHAR},
            </if>
            <if test="digitalRectalAnswer != null">
                digital_rectal_answer = #{digitalRectalAnswer,jdbcType=VARCHAR},
            </if>
            <if test="expressedProstaticSecretionAnswer != null">
                expressed_prostatic_secretion_answer = #{expressedProstaticSecretionAnswer,jdbcType=VARCHAR},
            </if>
            <if test="specificAntigenAnswer != null">
                specific_antigen_answer = #{specificAntigenAnswer,jdbcType=VARCHAR},
            </if>
            <if test="ultrasonographyBAnswer != null">
                ultrasonography_b_answer = #{ultrasonographyBAnswer,jdbcType=VARCHAR},
            </if>
            <if test="urineFlowRateAnswer != null">
                urine_flow_rate_answer = #{urineFlowRateAnswer,jdbcType=VARCHAR},
            </if>
            <if test="urineRoutineAnswer != null">
                urine_routine_answer = #{urineRoutineAnswer,jdbcType=VARCHAR},
            </if>
            <if test="medicalExaminationRemark != null">
                medical_examination_remark = #{medicalExaminationRemark,jdbcType=VARCHAR},
            </if>
            <if test="bloodRoutineRemark != null">
                blood_routine_remark = #{bloodRoutineRemark,jdbcType=VARCHAR},
            </if>
            <if test="digitalRectalRemark != null">
                digital_rectal_remark = #{digitalRectalRemark,jdbcType=VARCHAR},
            </if>
            <if test="expressedProstaticSecretionRemark != null">
                expressed_prostatic_secretion_remark = #{expressedProstaticSecretionRemark,jdbcType=VARCHAR},
            </if>
            <if test="specificAntigenRemark != null">
                specific_antigen_remark = #{specificAntigenRemark,jdbcType=VARCHAR},
            </if>
            <if test="ultrasonographyBRemark != null">
                ultrasonography_b_remark = #{ultrasonographyBRemark,jdbcType=VARCHAR},
            </if>
            <if test="urineFlowRateRemark != null">
                urine_flow_rate_remark = #{urineFlowRateRemark,jdbcType=VARCHAR},
            </if>
            <if test="urineRoutineRemark != null">
                urine_routine_remark = #{urineRoutineRemark,jdbcType=VARCHAR},
            </if>
            <if test="createDoctor != null">
                create_doctor = #{createDoctor,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDoctor != null">
                update_doctor = #{updateDoctor,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteDoctor != null">
                delete_doctor = #{deleteDoctor,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="urineRoutineInspectTime != null">
                urine_routine_inspect_time = #{urineRoutineInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="urineFlowRateInspectTime != null">
                urine_flow_rate_inspect_time = #{urineFlowRateInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ultrasonographyBInspectTime != null">
                ultrasonography_b_inspect_time = #{ultrasonographyBInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="digitalRectalInspectTime != null">
                digital_rectal_inspect_time = #{digitalRectalInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expressedProstaticSecretionInspectTime != null">
                expressed_prostatic_secretion_inspect_time = #{expressedProstaticSecretionInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="specificAntigenInspectTime != null">
                specific_antigen_inspect_time = #{specificAntigenInspectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bloodRoutineInspectTime != null">
                blood_routine_inspect_time = #{bloodRoutineInspectTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.prostate.assessmen.entity.ProstaticMedicalExamination">
        update pra_prostatic_medical_examination
        set patient_id = #{patientId,jdbcType=VARCHAR},
        blood_routine_answer = #{bloodRoutineAnswer,jdbcType=VARCHAR},
        digital_rectal_answer = #{digitalRectalAnswer,jdbcType=VARCHAR},
        expressed_prostatic_secretion_answer = #{expressedProstaticSecretionAnswer,jdbcType=VARCHAR},
        specific_antigen_answer = #{specificAntigenAnswer,jdbcType=VARCHAR},
        ultrasonography_b_answer = #{ultrasonographyBAnswer,jdbcType=VARCHAR},
        urine_flow_rate_answer = #{urineFlowRateAnswer,jdbcType=VARCHAR},
        urine_routine_answer = #{urineRoutineAnswer,jdbcType=VARCHAR},
        medical_examination_remark = #{medicalExaminationRemark,jdbcType=VARCHAR},
        blood_routine_remark = #{bloodRoutineRemark,jdbcType=VARCHAR},
        digital_rectal_remark = #{digitalRectalRemark,jdbcType=VARCHAR},
        expressed_prostatic_secretion_remark = #{expressedProstaticSecretionRemark,jdbcType=VARCHAR},
        specific_antigen_remark = #{specificAntigenRemark,jdbcType=VARCHAR},
        ultrasonography_b_remark = #{ultrasonographyBRemark,jdbcType=VARCHAR},
        urine_flow_rate_remark = #{urineFlowRateRemark,jdbcType=VARCHAR},
        urine_routine_remark = #{urineRoutineRemark,jdbcType=VARCHAR},
        create_doctor = #{createDoctor,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_doctor = #{updateDoctor,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        delete_doctor = #{deleteDoctor,jdbcType=VARCHAR},
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
        del_flag = #{delFlag,jdbcType=VARCHAR},
        urine_routine_inspect_time = #{urineRoutineInspectTime,jdbcType=TIMESTAMP},
        urine_flow_rate_inspect_time = #{urineFlowRateInspectTime,jdbcType=TIMESTAMP},
        ultrasonography_b_inspect_time = #{ultrasonographyBInspectTime,jdbcType=TIMESTAMP},
        digital_rectal_inspect_time = #{digitalRectalInspectTime,jdbcType=TIMESTAMP},
        expressed_prostatic_secretion_inspect_time = #{expressedProstaticSecretionInspectTime,jdbcType=TIMESTAMP},
        specific_antigen_inspect_time = #{specificAntigenInspectTime,jdbcType=TIMESTAMP},
        blood_routine_inspect_time = #{bloodRoutineInspectTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>